body {
  background-color: #18191C;
  color: #fff;
  font-family: 'gothampro';
  font-weight: 300;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 1rem 2rem .5rem 2rem;
  background-color: #18191C;
  position: fixed;
  height: 35px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  transition: .2s;
}

header.hide {
  transform: translateY(-100%);
}

.header__wrapper-logo a {
  display: block;
  height: auto;
  width: 150px;
}

.header__logo {
  height: 100%;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav-list {
  display: flex;
  gap: 1.5rem;
}

.header__nav-item {
  position: relative;
  display: flex;
  align-items: center;
}

.header__nav-item > button,
.header__nav-item > a {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #fff;
  height: 100%;
  background: none;
  padding: 0;
  font-family: "gothampro";
  font-size: 1rem;
  font-weight: 300;
}

.header__nav-item > button::before,
.header__nav-item > a::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 1px;
  background-color: #fff;
  bottom: 5px;
  transition: .2s width;
}

.header__nav-item > button:hover::before,
.header__nav-item > a:hover::before {
  width: 100%;
}

.header__nav-item > button img {
  transition: .2s transform;
}

.header__nav-item > button:hover img {
  transform: rotate(180deg);
}

.dropdown--link .header__nav-item--dropdown.hide {
  visibility: hidden;
}

.header__nav-item--dropdown {
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.header__nav-item--dropdown::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.header__nav-item--dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header__nav-item--dropdown a {
  display: block;
  color: #fff;
  padding: .3rem .5rem;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5rem;
}

.header__contacts-item {
  font-size: .9rem;
}

main {
  flex-grow: 1;
}

section {
  padding: 2rem;
}

.section__title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.actions {
  height: calc(100vh - 59px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
}

.actions__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
  margin: 2rem 0;
}

.actions__info-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions__info-card .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.actions .swiper {
  width: 100%;
  height: calc(100vh - 220px);
}

.actions__info-icon {
  height: 45px;
}

.actions__info-title {
  font-weight: 400;
  font-size: 1.1rem;
}

.actions__info-description {
  color: #ffffff;
}

.actions__wrapper-slider {
  position: relative;
  flex-grow: 1;
  display: flex;
  margin-bottom: 2.5rem;
  width: 100%;
}

.actions .swiper-slide {
  display: flex;
  justify-content: center;
}

.actions .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.actions .swiper-button-next {
  right: -3rem;
  color: #fff;
}

.actions .swiper-button-prev {
  left: -3rem;
  color: #fff;
}

.actions .swiper-button-prev {
  height: 30px;
  width: 10px;
}

.actions .swiper-pagination {
  bottom: -2rem;
}

.actions .swiper-pagination-bullet {
  background-color: rgb(56, 56, 56);
  opacity: 1;
}

.actions .swiper-pagination-bullet-active {
  background-color: #fff;
}

.section__wrapper-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.section__card {
  cursor: pointer;
}

.section__card,
.reviews__card {
  position: relative;
  width: calc((100% - 6rem) / 4);
}

.section__card.new::before {
  content: 'Новинка';
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 6px;
  background-color: red;
  border-radius: 6px;
  color: white;
}

.section__card-img {
  display: block;
  width: 100%;
  height: auto;
  background-color: gray;
}

.section__card-title {
  margin-top: 1rem;
  font-weight: 400;
}

.section__card-description {
  margin-top: .8rem;
  line-height: 1.4;
  font-size: .8rem;
  max-height: 35px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.section__card-info {
  margin-top: .5rem;
  line-height: 1.4;
}

.section__card-price {
  font-weight: 500;
}

.section__card-portion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__card-img {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid gray;
}

.reviews__card-text {
  margin-top: 1rem;
  line-height: 1.4;
  text-align: center;
}

.about {
  background-color: #242427;
}

.about .section__title {
  padding-bottom: 1rem;
}

.about__title {
  text-decoration: underline solid 1px;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.about__subtitle {
  line-height: 1.4;
}

.about__subtitle span {
  font-weight: 400;
}

.about__map {
  border-radius: 15px;
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.footer__wrapper-socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__social {
  width: 35px;
  height: 35px;
}

.footer__social img {
  width: 100%;
  height: 100%;
}

.footer__copyright {
  font-size: .8rem;
  color: #e0e0e0;
}

.modal__card {
  position: absolute;
  height: fit-content;
  width: 500px;
  background-color: #18191C;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
  border-radius: 10px;
  padding: 1.25rem;
  padding-top: 3rem;
}

.modal__wrapper-card {
  content: '';
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.782);
  z-index: 9999;
}

.modal__card-title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modal__wrapper-card.hide {
  visibility: hidden;
}

.modal__card-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.modal__card-description {
  line-height: 1.4;
  font-size: .8rem;
}

.modal__close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: calc((3rem - 25px) / 2);
  right: 1.25rem;
  padding: 0;
}